<div class="main-container">
    <fountain-header></fountain-header>
    <main class="main">
        <table class="nat-settings">
            <tr>
                <td>appId</td>
                <td>
                    <input id="appId" type="text" ng-model="$storage.appId" placeholder="APP ID">
                </td>
            </tr>

            <tr>
                <td>appKey</td>
                <td>
                    <input type="text" ng-model="$storage.appKey" placeholder="APP KEY">
                </td>
            </tr>


            <tr>
                <td>appSecret</td>
                <td>
                    <input type="text" ng-model="$storage.appSecret" placeholder="APP SECRET">
                </td>
            </tr>


            <tr>
                <td>chat with</td>
                <td>
                    <input type="text" ng-model="$storage.chatWith" placeholder="Chat With">
                </td>
            </tr>


        </table>
    </main>
    <fountain-footer></fountain-footer>
</div>
